n8n-nodes/webhook-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "amino-tables",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "5009be1f-cdaf-412b-bb83-6596eda0f203",
      "name": "GET /tables",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        1616
      ],
      "webhookId": "amino-tables"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3e9e5bcf-98f2-4962-91d2-059a617a4165",
      "name": "Auth /tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        1616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53a0315f-6be7-4343-b06c-8790d050263f",
      "name": "Valid? /tables",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tr.table_id, tr.table_name, tr.matrix_room_id, COALESCE(cs.record_count, 0) as record_count FROM amino.table_registry tr LEFT JOIN (SELECT table_id, COUNT(*) as record_count FROM amino.current_state GROUP BY table_id) cs ON tr.table_id = cs.table_id ORDER BY tr.table_name;",
        "options": {}
      },
      "id": "28ad85e8-e96a-450f-902a-e1d419024164",
      "name": "Query Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tables: $input.all().filter(i => i.json.table_id).map(i => i.json) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "53e3cb6f-f4d8-47bd-aa0e-48badd8ba36f",
      "name": "Respond Tables",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        1520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fbbebc08-392f-489a-9759-290a0e207906",
      "name": "401 /tables",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        1712
      ]
    },
    {
      "parameters": {
        "path": "amino-records",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "80fc1eae-b21c-41d5-9ced-a3dce9c0fb44",
      "name": "GET /records",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        2032
      ],
      "webhookId": "amino-records-by-table"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "21492704-84bf-46cd-b2ab-22d8f52957a9",
      "name": "Auth /records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5df0f048-8eb0-4ce9-afe7-dbfd76a3c244",
      "name": "Valid? /records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2032
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT cs.record_id, cs.fields, cs.last_synced_at, tr.table_name, tr.matrix_room_id FROM amino.current_state cs JOIN amino.table_registry tr ON cs.table_id = tr.table_id WHERE cs.table_id = '{{ $('GET /records').first().json.query.tableId }}' ORDER BY cs.last_synced_at DESC;",
        "options": {}
      },
      "id": "1a68cfce-a311-4454-b844-a279f15974c8",
      "name": "Query Records by Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /records').first().json.query.tableId, count: $input.all().filter(i => i.json.record_id).length, records: $input.all().filter(i => i.json.record_id).map(i => ({ id: i.json.record_id, tableName: i.json.table_name, fields: i.json.fields, lastSynced: i.json.last_synced_at, matrixRoomId: i.json.matrix_room_id })) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fad5aced-15d9-4851-9483-d7ab35f112d7",
      "name": "Respond Records",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        1936
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ca711b16-fd17-425d-a118-f477577fd5fd",
      "name": "401 /records",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        2128
      ]
    },
    {
      "parameters": {
        "path": "amino-record",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "1ec1395a-b9ff-4568-82bb-7714bc04bb4f",
      "name": "GET /record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        2448
      ],
      "webhookId": "amino-record-by-id"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9794fc65-5679-4d55-9d34-3ba8dba561cb",
      "name": "Auth /record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a971c41-2b0b-4c1f-9d71-9d25f92cac15",
      "name": "Valid? /record",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT cs.record_id, cs.table_id, cs.fields, cs.last_synced_at, cs.event_count, tr.table_name, tr.matrix_room_id FROM amino.current_state cs JOIN amino.table_registry tr ON cs.table_id = tr.table_id WHERE cs.record_id = '{{ $('GET /record').first().json.query.recordId }}';",
        "options": {}
      },
      "id": "0f81372b-3c87-4259-825e-4764eb2575b7",
      "name": "Query Single Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        2352
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().length ? { record: { id: $input.first().json.record_id, tableId: $input.first().json.table_id, tableName: $input.first().json.table_name, fields: $input.first().json.fields, matrixRoomId: $input.first().json.matrix_room_id, lastSynced: $input.first().json.last_synced_at, eventCount: $input.first().json.event_count } } : { error: 'not_found' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f78a9738-5c1f-4174-8518-9ae7aadc2b99",
      "name": "Respond Single Record",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        2352
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "8642b99e-a563-4f01-ab83-e40c33a9c146",
      "name": "401 /record",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        2544
      ]
    },
    {
      "parameters": {
        "path": "amino-records-since",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "cac3e563-478c-449a-bf3b-9f61bc58e31d",
      "name": "GET /records/since",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        2864
      ],
      "webhookId": "amino-records-since"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7aabf999-9026-4176-bde5-38937ba9fda5",
      "name": "Auth /since",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c04e35ce-8338-454d-9e25-60074e7838b5",
      "name": "Valid? /since",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT cs.record_id, cs.fields, cs.last_synced_at, tr.table_name, tr.matrix_room_id FROM amino.current_state cs JOIN amino.table_registry tr ON cs.table_id = tr.table_id WHERE cs.table_id = '{{ $('GET /records/since').first().json.query.tableId }}' AND cs.last_synced_at > '{{ $('GET /records/since').first().json.query.since }}'::timestamptz ORDER BY cs.last_synced_at DESC;",
        "options": {}
      },
      "id": "3711a41a-650e-49a2-a836-e36695d0693a",
      "name": "Query Records Since",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        2768
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /records/since').first().json.query.tableId, since: $('GET /records/since').first().json.query.since, count: $input.all().filter(i => i.json.record_id).length, records: $input.all().filter(i => i.json.record_id).map(i => ({ id: i.json.record_id, tableName: i.json.table_name, fields: i.json.fields, lastSynced: i.json.last_synced_at, matrixRoomId: i.json.matrix_room_id })) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "b214cd73-17ff-4b1c-83a9-744f5c63145b",
      "name": "Respond Records Since",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        2768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "697ceefc-0da9-44b2-b708-46e43b13ed1e",
      "name": "401 /since",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        2960
      ]
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "amino-write",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "923e4dab-18df-4d77-8fcd-825a46da560c",
      "name": "PATCH /write",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3408,
        5456
      ],
      "webhookId": "amino-write"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('PATCH /write').first().json;\n\nconst tableId = webhook.body.tableId;\nconst recordId = webhook.body.recordId;\nconst fields = webhook.body.fields;\nconst matrixUserId = webhook.body.matrixUserId || 'unknown';\n\nif (!tableId || !recordId) {\n  return [{ json: { _error: true, message: 'tableId and recordId are required' } }];\n}\n\nif (!fields || !Object.keys(fields).length) {\n  return [{ json: { _error: true, message: 'No fields provided' } }];\n}\n\nreturn [{\n  json: {\n    tableId,\n    recordId,\n    fields,\n    matrixUserId,\n    airtableUrl: `https://api.airtable.com/v0/app1tsUyKa7F3sy0D/${encodeURIComponent(tableId)}/${recordId}`,\n    airtableBody: JSON.stringify({ fields })\n  }\n}];"
      },
      "id": "fb6d8bb1-25b5-433b-81bf-57692976a2fa",
      "name": "Prepare Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        5360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "abef0982-e725-4847-8150-a7537548dced",
      "name": "Has Fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2512,
        5360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.message }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "7c968c0f-1c29-48a4-872d-416d0a267dc3",
      "name": "400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2288,
        5456
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Prepare Write').first().json.airtableUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Prepare Write').first().json.airtableBody }}",
        "options": {}
      },
      "id": "89ef80eb-7966-4785-a4ee-a07926f7dce1",
      "name": "Write to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2288,
        5264
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Iu5gTUPvdBG4iwcH",
          "name": "Airtable June 12 2025"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1f8570f-9dbd-4660-a0b5-c9d0bb5c73d1",
      "name": "Airtable OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        5264
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'airtable_write_failed', detail: $json }) }}",
        "options": {
          "responseCode": 502
        }
      },
      "id": "2fec5e77-99a0-4767-bed1-ea022602c4ae",
      "name": "502 Airtable Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1840,
        5360
      ]
    },
    {
      "parameters": {
        "jsCode": "const EXCLUDED_FIELDS = new Set([\n  'Last Xano Sync', 'Gcal Last Modified', 'Last Modified', 'Last Modified Time',\n  'Processing Stage', 'Push', 'Calendar Event ID', 'Calendar Event Link',\n  'Magic Link', 'Box shared link', 'box_shared_link', 'Box button', 'box button',\n  'amino button', 'EAD Stage Ref Lookup', 'EAD ID Ref Lookup', 'EAD Front Notes',\n  'EAD Manager', 'EAD Category', 'EAD Link'\n]);\n\nconst EXCLUDED_PATTERNS = [\n  'Ref Lookup', 'Magic Link', 'Gcal', 'Calendar Event', 'box_shared', 'Box shared',\n  'Last Modified', 'lastMod', 'Processing Stage', 'Rollup', 'Lookup', 'Formula'\n];\n\nconst shouldSkip = (field) =>\n  EXCLUDED_FIELDS.has(field) || EXCLUDED_PATTERNS.some(p => field.includes(p));\n\nconst cleanValue = (val) => {\n  if (val == null) return null;\n  if (typeof val === 'string') return val.trim() === '' ? null : val;\n  if (Array.isArray(val)) {\n    const c = val.map(cleanValue).filter(v => v != null);\n    return c.length ? c : null;\n  }\n  if (typeof val === 'object') {\n    const out = {};\n    for (const [k, v] of Object.entries(val)) {\n      if (['url', 'thumbnails', 'size', 'type', 'width', 'height'].includes(k)) continue;\n      const c = cleanValue(v);\n      if (c != null) out[k] = c;\n    }\n    return Object.keys(out).length ? out : null;\n  }\n  return val;\n};\n\nconst generateUUID = () =>\n  'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n\nconst airtableRecord = $input.first().json;\nconst prep = $('Prepare Write').first().json;\nconst { tableId, recordId, matrixUserId } = prep;\n\nconst rawFields = airtableRecord.fields || {};\nconst cleanedSnapshot = {};\nfor (const [field, value] of Object.entries(rawFields)) {\n  if (shouldSkip(field)) continue;\n  const cleaned = cleanValue(value);\n  if (cleaned != null) cleanedSnapshot[field] = cleaned;\n}\n\nconst changedFields = prep.fields;\nconst payload = {\n  _f: 'v1',\n  _set: airtableRecord.fields?.['Table Name'] || '',\n  _a: matrixUserId,\n  fields: {\n    ALT: changedFields\n  }\n};\n\nconst uuid = generateUUID();\nconst cleanedSnapshotHex = Buffer.from(JSON.stringify(cleanedSnapshot)).toString('hex');\n\nreturn [{\n  json: {\n    uuid,\n    recordId,\n    tableId,\n    cleanedSnapshot,\n    cleanedSnapshotHex,\n    matrixUserId,\n    payload,\n    eventContent: {\n      recordId,\n      op: 'ALT',\n      payload,\n      set: `airtable:${tableId}`,\n      source: 'client_write',\n      sourceTimestamp: Date.now(),\n      actor: matrixUserId\n    }\n  }\n}];"
      },
      "id": "6568e023-b8c6-4547-bcbf-fef2b0c7f81b",
      "name": "Build Sync Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        5168
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT matrix_room_id FROM amino.table_registry WHERE table_id = '{{ $json.tableId }}'",
        "options": {}
      },
      "id": "76c4655a-7160-4d1a-b863-7972553f62d6",
      "name": "Get Room ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1616,
        5168
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Sync Payload').first().json;\nconst roomRow = $input.first().json;\nconst matrixRoomId = roomRow?.matrix_room_id || null;\n\nreturn [{\n  json: {\n    ...payload,\n    matrixRoomId\n  }\n}];"
      },
      "id": "32c86587-dcd1-4986-9e95-e572625f0d06",
      "name": "Merge Room ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        5168
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://app.aminoimmigration.com/_matrix/client/v3/rooms/{{ encodeURIComponent($json.matrixRoomId) }}/send/law.firm.record.mutate/{{ $json.uuid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.eventContent) }}",
        "options": {}
      },
      "id": "5cbd17a1-33e1-40ef-85fb-88f90a96731a",
      "name": "Send to Matrix1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        5168
      ],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "8smzU1ors4so56Qb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO amino.current_state\n  (record_id, table_id, table_name, fields, matrix_room_id, last_event_id, event_count)\nVALUES (\n  '{{ $('Build Sync Payload').first().json.recordId }}',\n  '{{ $('Build Sync Payload').first().json.tableId }}',\n  '',\n  convert_from(decode('{{ $('Build Sync Payload').first().json.cleanedSnapshotHex }}', 'hex'), 'UTF8')::jsonb,\n  '{{ $('Merge Room ID').first().json.matrixRoomId }}',\n  '{{ $('Build Sync Payload').first().json.uuid }}',\n  1\n)\nON CONFLICT (record_id) DO UPDATE SET\n  fields = EXCLUDED.fields,\n  matrix_room_id = EXCLUDED.matrix_room_id,\n  last_synced_at = now(),\n  last_event_id = EXCLUDED.last_event_id,\n  event_count = amino.current_state.event_count + 1;",
        "options": {}
      },
      "id": "b0fe8da3-156b-4fd9-b19c-1dfb566fd43b",
      "name": "Update Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -944,
        5168
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, recordId: $('Build Sync Payload').first().json.recordId, tableId: $('Build Sync Payload').first().json.tableId, uuid: $('Build Sync Payload').first().json.uuid, fields: $('Build Sync Payload').first().json.cleanedSnapshot, synced: { airtable: true, postgres: true, matrix: true } }) }}",
        "options": {}
      },
      "id": "1b600cea-7e16-407f-b192-ac4fe82346f2",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        5168
      ]
    }
  ],
  "connections": {
    "GET /tables": {
      "main": [
        [
          {
            "node": "Auth /tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /tables": {
      "main": [
        [
          {
            "node": "Valid? /tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /tables": {
      "main": [
        [
          {
            "node": "Query Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tables": {
      "main": [
        [
          {
            "node": "Respond Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /records": {
      "main": [
        [
          {
            "node": "Auth /records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /records": {
      "main": [
        [
          {
            "node": "Valid? /records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /records": {
      "main": [
        [
          {
            "node": "Query Records by Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Records by Table": {
      "main": [
        [
          {
            "node": "Respond Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /record": {
      "main": [
        [
          {
            "node": "Auth /record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /record": {
      "main": [
        [
          {
            "node": "Valid? /record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /record": {
      "main": [
        [
          {
            "node": "Query Single Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Single Record": {
      "main": [
        [
          {
            "node": "Respond Single Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /records/since": {
      "main": [
        [
          {
            "node": "Auth /since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /since": {
      "main": [
        [
          {
            "node": "Valid? /since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /since": {
      "main": [
        [
          {
            "node": "Query Records Since",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Records Since": {
      "main": [
        [
          {
            "node": "Respond Records Since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH /write": {
      "main": [
        [
          {
            "node": "Prepare Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write": {
      "main": [
        [
          {
            "node": "Has Fields?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Fields?": {
      "main": [
        [
          {
            "node": "Write to Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "400 Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Airtable": {
      "main": [
        [
          {
            "node": "Airtable OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable OK?": {
      "main": [
        [
          {
            "node": "Build Sync Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "502 Airtable Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Payload": {
      "main": [
        [
          {
            "node": "Get Room ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Room ID": {
      "main": [
        [
          {
            "node": "Merge Room ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Room ID": {
      "main": [
        [
          {
            "node": "Send to Matrix1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Matrix1": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Postgres": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c737be3fd9beebae6ccb42a087a71b95589b90d613100d5ba10c73188a40d22"
  }
}
