n8n-nodes/webhook-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "api/tables",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "5009be1f-cdaf-412b-bb83-6596eda0f203",
      "name": "GET /tables",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        1616
      ],
      "webhookId": "amino-tables"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3e9e5bcf-98f2-4962-91d2-059a617a4165",
      "name": "Auth /tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        1616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53a0315f-6be7-4343-b06c-8790d050263f",
      "name": "Valid? /tables",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_id, table_name, matrix_room_id, COUNT() as record_count FROM amino.current_state WHERE table_name != '' GROUP BY table_id, table_name, matrix_room_id ORDER BY table_name;",
        "options": {}
      },
      "id": "28ad85e8-e96a-450f-902a-e1d419024164",
      "name": "Query Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tables: $input.all().map(i => i.json) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "53e3cb6f-f4d8-47bd-aa0e-48badd8ba36f",
      "name": "Respond Tables",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        1520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fbbebc08-392f-489a-9759-290a0e207906",
      "name": "401 /tables",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        1712
      ]
    },
    {
      "parameters": {
        "path": "api/records/:tableId",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "80fc1eae-b21c-41d5-9ced-a3dce9c0fb44",
      "name": "GET /records/:tableId",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        2032
      ],
      "webhookId": "amino-records-by-table"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "21492704-84bf-46cd-b2ab-22d8f52957a9",
      "name": "Auth /records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5df0f048-8eb0-4ce9-afe7-dbfd76a3c244",
      "name": "Valid? /records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2032
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT record_id, table_name, fields, last_synced_at FROM amino.current_state WHERE table_id = '{{ $('GET /records/:tableId').first().json.params.tableId }}' AND table_name != '' ORDER BY last_synced_at DESC;",
        "options": {}
      },
      "id": "1a68cfce-a311-4454-b844-a279f15974c8",
      "name": "Query Records by Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /records/:tableId').first().json.params.tableId, count: $input.all().length, records: $input.all().map(i => ({ id: i.json.record_id, tableName: i.json.table_name, fields: i.json.fields, lastSynced: i.json.last_synced_at })) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fad5aced-15d9-4851-9483-d7ab35f112d7",
      "name": "Respond Records",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        1936
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ca711b16-fd17-425d-a118-f477577fd5fd",
      "name": "401 /records",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        2128
      ]
    },
    {
      "parameters": {
        "path": "api/record/:recordId",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "1ec1395a-b9ff-4568-82bb-7714bc04bb4f",
      "name": "GET /record/:recordId",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        2448
      ],
      "webhookId": "amino-record-by-id"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9794fc65-5679-4d55-9d34-3ba8dba561cb",
      "name": "Auth /record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a971c41-2b0b-4c1f-9d71-9d25f92cac15",
      "name": "Valid? /record",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT record_id, table_id, table_name, fields, matrix_room_id, last_synced_at, event_count FROM amino.current_state WHERE record_id = '{{ $('GET /record/:recordId').first().json.params.recordId }}';",
        "options": {}
      },
      "id": "0f81372b-3c87-4259-825e-4764eb2575b7",
      "name": "Query Single Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        2352
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().length ? { record: { id: $input.first().json.record_id, tableId: $input.first().json.table_id, tableName: $input.first().json.table_name, fields: $input.first().json.fields, matrixRoomId: $input.first().json.matrix_room_id, lastSynced: $input.first().json.last_synced_at, eventCount: $input.first().json.event_count } } : { error: 'not_found' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f78a9738-5c1f-4174-8518-9ae7aadc2b99",
      "name": "Respond Single Record",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        2352
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "8642b99e-a563-4f01-ab83-e40c33a9c146",
      "name": "401 /record",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        2544
      ]
    },
    {
      "parameters": {
        "path": "api/records/:tableId/since/:since",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "cac3e563-478c-449a-bf3b-9f61bc58e31d",
      "name": "GET /records/since",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        2864
      ],
      "webhookId": "amino-records-since"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || ('Bearer ' + ($json.query.access_token || '')) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7aabf999-9026-4176-bde5-38937ba9fda5",
      "name": "Auth /since",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-user",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c04e35ce-8338-454d-9e25-60074e7838b5",
      "name": "Valid? /since",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT record_id, table_name, fields, last_synced_at FROM amino.current_state WHERE table_id = '{{ $('GET /records/since').first().json.params.tableId }}' AND table_name != '' AND last_synced_at > '{{ $('GET /records/since').first().json.params.since }}'::timestamptz ORDER BY last_synced_at DESC;",
        "options": {}
      },
      "id": "3711a41a-650e-49a2-a836-e36695d0693a",
      "name": "Query Records Since",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2752,
        2768
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /records/since').first().json.params.tableId, since: $('GET /records/since').first().json.params.since, count: $input.all().length, records: $input.all().map(i => ({ id: i.json.record_id, tableName: i.json.table_name, fields: i.json.fields, lastSynced: i.json.last_synced_at })) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "b214cd73-17ff-4b1c-83a9-744f5c63145b",
      "name": "Respond Records Since",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2528,
        2768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "697ceefc-0da9-44b2-b708-46e43b13ed1e",
      "name": "401 /since",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        2960
      ]
    }
  ],
  "connections": {
    "GET /tables": {
      "main": [
        [
          {
            "node": "Auth /tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /tables": {
      "main": [
        [
          {
            "node": "Valid? /tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /tables": {
      "main": [
        [
          {
            "node": "Query Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tables": {
      "main": [
        [
          {
            "node": "Respond Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /records/:tableId": {
      "main": [
        [
          {
            "node": "Auth /records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /records": {
      "main": [
        [
          {
            "node": "Valid? /records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /records": {
      "main": [
        [
          {
            "node": "Query Records by Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Records by Table": {
      "main": [
        [
          {
            "node": "Respond Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /record/:recordId": {
      "main": [
        [
          {
            "node": "Auth /record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /record": {
      "main": [
        [
          {
            "node": "Valid? /record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /record": {
      "main": [
        [
          {
            "node": "Query Single Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Single Record": {
      "main": [
        [
          {
            "node": "Respond Single Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /records/since": {
      "main": [
        [
          {
            "node": "Auth /since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth /since": {
      "main": [
        [
          {
            "node": "Valid? /since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid? /since": {
      "main": [
        [
          {
            "node": "Query Records Since",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 /since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Records Since": {
      "main": [
        [
          {
            "node": "Respond Records Since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c737be3fd9beebae6ccb42a087a71b95589b90d613100d5ba10c73188a40d22"
  }
}
