n8n-nodes/webhook-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "amino-tables",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "e66fe5a2-3749-425c-9c15-81ae8bbd162a",
      "name": "GET /tables",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "amino-tables"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || 'Bearer ' + ($json.query.access_token || '') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b8cd87c6-8751-45c3-b1ee-8f5264c4ecf6",
      "name": "Auth /tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_id, table_name, matrix_room_id, COUNT(*) as record_count FROM amino.current_state WHERE table_name != '' GROUP BY table_id, table_name, matrix_room_id ORDER BY table_name;",
        "options": {}
      },
      "id": "8cc5579b-cffa-46bf-8460-d5a0721af407",
      "name": "Query Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tables: $input.all().map(i => i.json) }) }}",
        "options": {}
      },
      "id": "392f492a-b31c-4345-89f3-f12f04d8c94a",
      "name": "Respond Tables",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "2b4d6477-a99b-42da-92e9-d27fdf2f75e1",
      "name": "401 /tables",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        288
      ]
    },
    {
      "parameters": {
        "path": "amino-records",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "45e0bd03-4ec4-43d7-9a19-3bf7091c34ec",
      "name": "GET /records/:tableId",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        512
      ],
      "webhookId": "amino-records"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || 'Bearer ' + ($json.query.access_token || '') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "0168110f-dec5-4940-ad2d-cbc1b1b71352",
      "name": "Auth /records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT record_id, table_name, fields, last_synced_at FROM amino.current_state WHERE table_id = '{{ $json.query.tableId }}' AND table_name != '' ORDER BY last_synced_at DESC;",
        "options": {}
      },
      "id": "f3c59e25-dde4-40ef-8fef-c89918d54689",
      "name": "Query Records by Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /records/:tableId').first().json.query.tableId, count: $input.all().length, records: $input.all().map(i => ({ id: i.json.record_id, tableName: i.json.table_name, fields: i.json.fields, lastSynced: i.json.last_synced_at })) }) }}",
        "options": {}
      },
      "id": "f2560193-799d-4de6-8985-16516ed8acc5",
      "name": "Respond Records",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "259d00ab-9a2c-493e-8e1a-1bdabcd44559",
      "name": "401 /records",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        800
      ]
    },
    {
      "parameters": {
        "path": "amino-record",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "ea878f61-9c31-4328-81c7-06147aae1848",
      "name": "GET /record/:recordId",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1024
      ],
      "webhookId": "amino-record"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || 'Bearer ' + ($json.query.access_token || '') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ca509fc8-ded1-468b-a7b6-f255b9bffc9c",
      "name": "Auth /record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT record_id, table_id, table_name, fields, matrix_room_id, last_synced_at, event_count FROM amino.current_state WHERE record_id = '{{ $json.query.recordId }}';",
        "options": {}
      },
      "id": "ae162a11-8ac8-4f4d-ac7b-c85b174ac75d",
      "name": "Query Single Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().length ? { record: { id: $input.first().json.record_id, tableId: $input.first().json.table_id, tableName: $input.first().json.table_name, fields: $input.first().json.fields, matrixRoomId: $input.first().json.matrix_room_id, lastSynced: $input.first().json.last_synced_at, eventCount: $input.first().json.event_count } } : { error: 'not_found' }) }}",
        "options": {}
      },
      "id": "08967eb0-bd32-4907-a67b-6394817b1f97",
      "name": "Respond Single Record",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        1072
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "fa8f00ff-8b67-4055-b050-e8e90e91ce0a",
      "name": "401 /record",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        1312
      ]
    },
    {
      "parameters": {
        "path": "amino-records-since",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "74ba9d1d-bc43-41d6-92e8-7c87f7d77d15",
      "name": "GET /records/since",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1536
      ],
      "webhookId": "amino-records-since"
    },
    {
      "parameters": {
        "url": "https://app.aminoimmigration.com/_matrix/client/v3/account/whoami",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization || 'Bearer ' + ($json.query.access_token || '') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "dcfa368f-c48d-47ce-874a-9487bdf75a86",
      "name": "Auth /since",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1776
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT record_id, table_name, fields, last_synced_at FROM amino.current_state WHERE table_id = '{{ $json.query.tableId }}' AND table_name != '' AND last_synced_at > '{{ $json.query.since }}'::timestamptz ORDER BY last_synced_at DESC;",
        "options": {}
      },
      "id": "1bd52406-1f02-4e31-8f0c-ba40c2ba5bba",
      "name": "Query Records Since",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        1584
      ],
      "credentials": {
        "postgres": {
          "id": "PKlgmlqQf0SbnPZT",
          "name": "Amino State DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /records/since').first().json.query.tableId, since: $('GET /records/since').first().json.query.since, count: $input.all().filter(i => i.json.record_id).length, next_since: $input.all().filter(i => i.json.last_synced_at).reduce((max, i) => i.json.last_synced_at > max ? i.json.last_synced_at : max, ''), records: $input.all().filter(i => i.json.record_id).map(i => ({ id: i.json.record_id, tableName: i.json.table_name, fields: i.json.fields, lastSynced: i.json.last_synced_at, last_synced: i.json.last_synced_at })) }) }}",
        "options": {}
      },
      "id": "05c38f22-dff5-4fec-8f28-89372385c51b",
      "name": "Respond Records Since",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        1584
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', message: 'Valid Matrix access token required' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "4fbf200d-4bb1-44f1-9b71-634af2e1368c",
      "name": "401 /since",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        1824
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true }, "id": "4bc9c439-81be-487f-bbf7-74f3f0bbc209" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "1"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "4dd75051-9c0c-4aa9-8e95-f8bdf1f79798", "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notExists", "singleValue": true } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [224, 240], "id": "c94ce817-c85d-4f2f-9a0c-62d63a9b2776", "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true }, "id": "4bc9c439-81be-487f-bbf7-74f3f0bbc209" }], "combinator": "and" },
              "renameOutput": true, "outputKey": "1"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "4dd75051-9c0c-4aa9-8e95-f8bdf1f79798", "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notExists", "singleValue": true } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [224, 752], "id": "694b36e4-22b0-446b-bdfc-6bd5f2bfd9bc", "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true }, "id": "4bc9c439-81be-487f-bbf7-74f3f0bbc209" }], "combinator": "and" },
              "renameOutput": true, "outputKey": "1"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "4dd75051-9c0c-4aa9-8e95-f8bdf1f79798", "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notExists", "singleValue": true } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [224, 1264], "id": "676deba9-9a6e-4321-84cd-8ac749f601fb", "name": "Switch3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true }, "id": "4bc9c439-81be-487f-bbf7-74f3f0bbc209" }], "combinator": "and" },
              "renameOutput": true, "outputKey": "1"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "4dd75051-9c0c-4aa9-8e95-f8bdf1f79798", "leftValue": "={{ $json.user_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notExists", "singleValue": true } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [224, 1776], "id": "3ac2d84f-14fc-430c-8e64-d154ea769a16", "name": "Switch4"
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "760a0cd1-348c-4ae5-9380-74446565035c", "leftValue": "={{$json.query.access_token}}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" }, "options": {} },
      "type": "n8n-nodes-base.filter", "typeVersion": 2.3, "position": [224, 512], "id": "d2adabff-e045-4064-99c0-cc912183c3ec", "name": "Filter2"
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "760a0cd1-348c-4ae5-9380-74446565035c", "leftValue": "={{$json.query.access_token}}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" }, "options": {} },
      "type": "n8n-nodes-base.filter", "typeVersion": 2.3, "position": [224, 1024], "id": "6869fe70-f080-44f6-a394-ef5d3464f036", "name": "Filter3"
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "760a0cd1-348c-4ae5-9380-74446565035c", "leftValue": "={{$json.query.access_token}}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" }, "options": {} },
      "type": "n8n-nodes-base.filter", "typeVersion": 2.3, "position": [224, 1536], "id": "256aad56-e3a6-4f3c-8db8-6cc4db4f1ccf", "name": "Filter4"
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [{ "id": "760a0cd1-348c-4ae5-9380-74446565035c", "leftValue": "={{$json.query.access_token}}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }], "combinator": "and" }, "options": {} },
      "type": "n8n-nodes-base.filter", "typeVersion": 2.3, "position": [224, 0], "id": "c763a2e5-96e7-4808-bf8b-b5fbb6a7d75f", "name": "Filter5"
    }
  ],
  "connections": {
    "GET /tables": { "main": [[{ "node": "Filter5", "type": "main", "index": 0 }]] },
    "Auth /tables": { "main": [[{ "node": "Switch1", "type": "main", "index": 0 }]] },
    "Query Tables": { "main": [[{ "node": "Respond Tables", "type": "main", "index": 0 }]] },
    "GET /records/:tableId": { "main": [[{ "node": "Filter2", "type": "main", "index": 0 }]] },
    "Auth /records": { "main": [[{ "node": "Switch2", "type": "main", "index": 0 }]] },
    "Query Records by Table": { "main": [[{ "node": "Respond Records", "type": "main", "index": 0 }]] },
    "GET /record/:recordId": { "main": [[{ "node": "Filter3", "type": "main", "index": 0 }]] },
    "Auth /record": { "main": [[{ "node": "Switch3", "type": "main", "index": 0 }]] },
    "Query Single Record": { "main": [[{ "node": "Respond Single Record", "type": "main", "index": 0 }]] },
    "GET /records/since": { "main": [[{ "node": "Filter4", "type": "main", "index": 0 }]] },
    "Auth /since": { "main": [[{ "node": "Switch4", "type": "main", "index": 0 }]] },
    "Query Records Since": { "main": [[{ "node": "Respond Records Since", "type": "main", "index": 0 }]] },
    "Switch1": { "main": [[{ "node": "Query Tables", "type": "main", "index": 0 }], [{ "node": "401 /tables", "type": "main", "index": 0 }]] },
    "Switch2": { "main": [[{ "node": "Query Records by Table", "type": "main", "index": 0 }], [{ "node": "401 /records", "type": "main", "index": 0 }]] },
    "Switch3": { "main": [[{ "node": "Query Single Record", "type": "main", "index": 0 }], [{ "node": "401 /record", "type": "main", "index": 0 }]] },
    "Switch4": { "main": [[{ "node": "Query Records Since", "type": "main", "index": 0 }], [{ "node": "401 /since", "type": "main", "index": 0 }]] },
    "Filter2": { "main": [[{ "node": "Query Records by Table", "type": "main", "index": 0 }]] },
    "Filter3": { "main": [[{ "node": "Query Single Record", "type": "main", "index": 0 }]] },
    "Filter4": { "main": [[{ "node": "Query Records Since", "type": "main", "index": 0 }]] },
    "Filter5": { "main": [[{ "node": "Query Tables", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "instanceId": "5c737be3fd9beebae6ccb42a087a71b95589b90d613100d5ba10c73188a40d22"
  }
}
